# Operating System Files
.DS_Store

# Terraform State Files
*.tfstate
*.backup
terraform.tfplan
terraform.tfstate
.terraform/
.terraform.lock.hcl

# Terraform Configuration Files
*.tfvars
example.tf

# Log Files
*.log
*.bak
*~

# Editor Directories and Files
.idea/
.vscode/
*.iml
.*.swp

# Build Directories
bin/
modules-dev/
pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
website/vendor

# Test Exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Miscellaneous
*.dll
*.exe
.vagrant/
