# Ignore any built binaries.
terraform-provider-vsphere*

# Ignore distribution directories.
dist/

# Ignore editor directories.
.idea/
.vscode/

# Ignore temporary editor files.
*~

# Ignore macOS desktop services store files.
**/.DS_Store
