# This file is designed to assist you with configuring your environment for
# testing the vSphere provider, and also serves as a catalog of the environment
# variables that are required to test all of the resources in this provider.
#
# This should be copied to ~/.tf-vsphere-devrc.mk and edited accordingly.
#
# Note that the use of all of this file is not required - enviornment variables
# can still be completely set from the command line or your existing
# environment. In this case, don't use this file as it may cause conflicts.
# 
# The essentials. None of the tests will run if you don't have these.
export VSPHERE_SERVER   ?= vcenter.internal
export VSPHERE_USER     ?= user@vsphere.internal
export VSPHERE_PASSWORD ?= changeme

# Enable this if you want to skip SSL verification
export VSPHERE_ALLOW_UNVERIFIED_SSL ?= false

# vsphere_virtaul_machine variables
export VSPHERE_TEMPLATE            ?= base-linux
export VSPHERE_NETWORK_LABEL       ?= vm-network
export VSPHERE_NETWORK_LABEL_DHCP  ?= vm-network
export VSPHERE_IPV4_ADDRESS        ?= 10.0.0.100
export VSPHERE_IPV4_PREFIX         ?= 24
export VSPHERE_IPV4_GATEWAY        ?= 10.0.0.1
export VSPHERE_DATACENTER          ?= vm-dc
export VSPHERE_CLUSTER             ?= vm-cluster1
export VSPHERE_RESOURCE_POOL       ?= vm-resource-pool
export VSPHERE_DATASTORE           ?= datastore1

# vi: filetype=make
