# This file is designed to assist you with configuring your environment for
# testing the vSphere provider, and also serves as a catalog of the environment
# variables that are required to test all of the resources in this provider.
#
# This should be copied to ~/.tf-vsphere-devrc.mk and edited accordingly.
#
# Note that the use of all of this file is not required - environment variables
# can still be completely set from the command line or your existing
# environment. In this case, don't use this file as it may cause conflicts.
#
# NOTE: Remove the annotations from any variables that have them inline, or
# else make will add the whitespace to the variable as well.
#
# The essentials. None of the tests will run if you don't have these.
export VSPHERE_SERVER   ?= vcenter.internal
export VSPHERE_USER     ?= user@vsphere.internal
export VSPHERE_PASSWORD ?= changeme

# Enable this if you want to skip SSL verification
export VSPHERE_ALLOW_UNVERIFIED_SSL ?= false

# The following variables are shared across various tests. To ensure all tests
# succeed, it's probably best to set all of these to valid values.
export VSPHERE_TEMPLATE                 ?= base-linux # VM template to clone
export VSPHERE_TEMPLATE_WINDOWS         ?= base-win   # Windows VM template
export VSPHERE_TEMPLATE_COREOS          ?= base-core  # CoreOS template from OVA
export VSPHERE_TEMPLATE_ISO_TRANSPORT   ?= base-vappt  # Template with vApp ISO transport
export VSPHERE_NETWORK_LABEL            ?= vm-network # Port group label
export VSPHERE_NETWORK_LABEL_DHCP       ?= vm-network # Port group label for DHCP
export VSPHERE_NETWORK_LABEL_PXE        ?= vm-network # Port group label for PXE
export VSPHERE_IPV4_ADDRESS             ?= 10.0.0.100 # Customization IP address
export VSPHERE_IPV4_PREFIX              ?= 24         # Customization netmask
export VSPHERE_IPV4_GATEWAY             ?= 10.0.0.1   # Customization gateway
export VSPHERE_DNS                      ?= 10.0.0.10  # Customization DNS
export VSPHERE_DATACENTER               ?= vm-dc      # VM placement DC
export VSPHERE_CLUSTER                  ?= vm-clus1   # VM placement cluster
export VSPHERE_CLUSTER2                 ?= vm-clus2   # Extra cluster for testing
export VSPHERE_EMPTY_CLUSTER            ?= clus-empty # Empty cluster for testing
export VSPHERE_RESOURCE_POOL            ?= vm-respool # VM resource resource pool
export VSPHERE_DATASTORE                ?= datastore1 # VM placement datastore
export VSPHERE_DATASTORE2               ?= datastore2 # 2nd datastore for vMotion
export VSPHERE_INIT_TYPE                ?= thin       # vDisk type
export VSPHERE_ADAPTER_TYPE             ?= lsiLogic   # Virtual disk adapter type
export VSPHERE_LICENSE                  ?= key        # License resource test key
export VSPHERE_DC_FOLDER                ?= dc-folder  # DC resource test folder
export VSPHERE_ESXI_HOST                ?= esxi1      # ESXi host to work with
export VSPHERE_ESXI_HOST2               ?= esxi2      # 2nd ESXi host to work with
export VSPHERE_ESXI_HOST3               ?= esxi3      # 3nd ESXi host to work with
export VSPHERE_HOST_NIC0                ?= vmnic0     # NIC0 for host net tests
export VSPHERE_HOST_NIC1                ?= vmnic1     # NIC1 for host net tests
export VSPHERE_VMFS_EXPECTED            ?= scsi-name  # Name of expected SCSI disk
export VSPHERE_VMFS_REGEXP              ?= expr       # Regexp for SCSI disk search
export VSPHERE_DS_VMFS_DISK0            ?= scsi-name0 # 1st disk for vmfs_datastore
export VSPHERE_DS_VMFS_DISK1            ?= scsi-name1 # 2nd disk for vmfs_datastore
export VSPHERE_DS_VMFS_DISK2            ?= scsi-name2 # 3rd disk for vmfs_datastore
export VSPHERE_DS_FOLDER                ?= ds-folder  # Path to a datastore folder
export VSPHERE_NAS_HOST                 ?= nas-host   # Hostname for nas_datastore
export VSPHERE_NFS_PATH                 ?= nfs-path   # NFS path for nas_datastore
export VSPHERE_NFS_PATH2                ?= nfs-path   # 2nd nas_datastore path
export VSPHERE_FOLDER_V0_PATH           ?= old-folder # vsphere_folder state test
export VSPHERE_ISO_FILE                 ?= iso-file   # ISO file for CDROM device
export VSPHERE_ISO_DATASTORE            ?= iso-ds     # ISO file for CDROM device
export VSPHERE_VM_V1_PATH               ?= vm-path    # VM resource state migration

# vi: filetype=make
